html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
  font-family: 'Montserrat', sans-serif; 
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: 100; 
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

:root {

  --bg-light: #f6e7d3;

  --bs-color01: #9f0a28;

  --bs-color02: #d55c2b;

  --bs-color03: #89a46f;

  --bs-color04: #55203c;

  --bs-dark: #444;
}

html {
  background-color: var(--bg-light);
}

.main-title {
  color: var(--bs-dark);
}

